*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!/doc/*
/fceux-am
/nemu/tools/spike-diff/difftest.cc
/nvboard
/am-kernels
/nemu/tools/spike-diff/repo
